:root {
    --primary-color: #2ab5d3;
    --secondary-color: #1a1a1a;
    --blackColor: #000;
    --whiteColor: #fff;
    --textColor: #5e626F;
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
}

.footer {
    background: var(--inputColor);
    padding: 5rem 0;
}

.secContainer {
    gap: 1.5rem;
    text-align: center;
}

.footerLogo {
    padding-bottom: 1rem;
}

.logo .icon {
    font-size: 25px;
    color: var(--primary-color);
    margin-right: 10px;
}

.socials {
    gap: .5rem;
    margin: auto;
    justify-content: center;
}

.socials .icon {
    font-size: 20px;
    color: var(--blackColor);
    background: var(--whiteColor);
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;
    transition: .3s ease;
}

.socials .icon:hover {
    background: var(--primary-color);
    color: var(--whiteColor);
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkTitle {
    padding-bottom: .5rem;
    font-weight: 700;
    color: var(--blackColor);
}

.footerLinks li {
    padding: .3rem 0;
    color: var(--textColor);
    transition: .3s ease;
}

.footerLinks li:hover {
    color: var(--primary-color);
    transform: translateX(5px);
}

.footerLinks span.phone,
.footerLinks span.email {
    color: var(--textColor);
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

/* Media Queries */
@media screen and (min-width: 500px) {
    .secContainer {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }

    .socials {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 840px) {
    .secContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}