:root {
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 233, 219);
    --cardBG: rgb(225, 225, 225);
}

.popular {
    padding-top: 5rem;
}

.secHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.secHeader .textDiv .secTitle {
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

.secHeader .textDiv p {
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
}

.secHeader .iconsDiv {
    gap: 0.5rem;
}

.secHeader .iconsDiv .icon {
    padding: .5rem;
    background: var(--blackColor);
    color: var(--whiteColor);
    border-radius: 50%;
    font-size: 2.5rem;
}

.secHeader .iconsDiv .icon:hover {
    background: var(--greyText);
    color: var(--blackColor);
}

.mainContent {
    padding: 2rem 0;
    gap: 1rem;
}

.singleDestination {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: var(--whiteColor);
    transition: var(--transition);
}

.singleDestination:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.destImage {
    height: 180px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.destImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.destFooter {
    padding: 1rem;
}

.destFooter .number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--blackColor);
    position: relative;
    width: max-content;
}

.destFooter .number::after {
    content: '';
    position: absolute;
    background: var(--PrimaryColor);
    height: 5px;
    width: 45px;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.destText {
    justify-content: space-between;
    align-items: center;
    /* Align items vertically */
    margin-top: 1rem;
}

.destText h6 {
    color: var(--blackColor);
    font-size: 1rem;
    font-weight: 700;
}

.destText .flex {
    font-size: 1rem;
    font-weight: 700;
    /* Bold rating */
    align-items: center;
}

.destText .dot {
    margin-right: 5px;
}

.destText .icon {
    color: var(--PrimaryColor);
    /* Orange dot */
    font-size: 10px;
    /* Small dot */
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .secHeader {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .secHeader .textDiv {
        text-align: left;
        max-width: 70%;
    }

    .secHeader .iconsDiv {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 600px) {
    .mainContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 840px) {
    .mainContent {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}